.place-list {
     list-style: none;

    padding: 1rem;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap : 40px;
    grid-row-gap : 40px;
    margin: 50px;
}