.loading {
display: inline-block;
width: 64px;
height: 64px;
}

.loading:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #f7b7a8;
    border-color: #f7b7a8 transparent #f7b7a8 transparent;
    animation : loading 1.2s linear infinite;
}

.spinner__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}