.modal {
    z-index : 100;
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 8px;
}
.modal-header {
    width: 100%;
    padding: 1rem 0.5rem;
    
}

.modal__header h2{
    margin: 0.5rem;

}
.modal__content {
    padding: 1rem 0.5rem;
}