.user-and-userplaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    padding: 2vw;
}


.user-and-userplaces__title{
    margin-left: 5vw;
}
.user-and-userplaces__places{
    margin-left: 5vw;
}